<script type="text/javascript">
      $(document).ready(function(){
        mockjax.init();  //mock events (for test purposes)
          
        $('#calendar').fullCalendar({
          editable: true,
          header: {
            left: "prev,next today",
            center: "title",
            right: "month,agendaWeek,agendaDay"
          },
          events: function(start, end, callback) {
            $.ajax({
              url: '/test/get-events',
              dataType: 'json',
              success: function(data){
                callback(data);
              }
            });
          }
        });
  
        $('#calendar').limitEvents(4);
        
        //$('#calendar').limitEvents({
        //  maxEvents: 3,
        //  viewMoreClick: function(){
        //    alert('custom click handler fired');
        //  }
        //});
        
      });
</script>
  </head>
  
  <body>
    <div id="calendar" style="min-width:750px;"></div>
  </body>
</html>
