// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#event_date_tab{
visibility:'hidden';
}
#event_time_tab{
visibility:'hidden';
}
#event_finalize_tab{
visibility:'hidden';
}

#dropzone {
	border: 1px solid grey;
    background: #F3F3F3;
    width: 50%;
    height: 50%;
    line-height: 200px;
    text-align: center;
    font-weight: bold;
}

#dropzone.hover {
    background: grey;
}