// styling for the yelp page


.yelp_search_term {
  width: 100% !important;
  display:inline;
}
.yelp_search_zip {
  width: 100% !important;
  float:left;
  display:inline;
}
.yelp_logo {
  display:inline;
  vertical-align:middle;
  padding-bottom:10px;
}
.restaurant-divider {
  margin-top:10px;
}

// styling for the business results

.business-image {
  float:left;
  display:inline;
  margin-bottom:10px;
}
.business-name {
  font-size: 17px;
  font-weight:bold;
}
.business-rating-image {
  vertical-align:middle;
  padding-left:5px;
}
.business-rating-count {
  font-style:italic;
}
.business-address {
}
.business-phone {
  font-weight:bold;
}

// styling for search results 

.page-nav {
  padding-bottom:10px !important;
  text-align:center;
}
.page-count {
  padding-left:10px;
  padding-right:10px;
}