<p>Hi <%= @resource.club_name %>,</p>

<p>Welcome to MIT Event+! Please visit this link to confirm your student group's email address:</p>

<p><%= confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
