.bottom
  %hr
    Made by Sherwin Wu, Danny Chiao, Rebecca Odim, and Ibrahim Abdus-Sabur for 
    = link_to "6.170", "https://stellar.mit.edu/S/course/6/fa12/6.170/", :target => "_blank"
    (Software Studio)